
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
<div class="table-responsive">
    <table class="table table-hover table-sm table-dark">
        <thead>
        <tr>
            {% for header in dataframe.columns %}
                <th scope="col">{{header}}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for index, row in dataframe.iterrows() %}

            <tr>
                <td scope="row">{{row["AIS"]}}</td>
            </tr>
        {% endfor %}

        </tbody>

        
    </table>
</div>
